// VARIABLES 
$fuenteppal: 'Roboto', sans-serif;
$blanco: #FFFFFF;
$verde: #58806C;
$Rosa: #F8B0C6;
$Oscuro: #3D3D3D;
$breaktablet: 748px;
$breakmobile: 375px;


// GLOBALES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
    text-decoration: none;
    list-style: none;
}

// BODY

body {
    width: 100%;
    font-size: 16px;
    /* 1 rem = 10px */
    background: $blanco;
    font-family: $fuenteppal;


    a:visited {
        color: $Oscuro;
    }


    // HEADER
    /*vamos a usar un header "wrapped", para esto vamos a cambiar el w: a 100%, y reemplazar left y top, por Padding*/
    .header {
        position: absolute;
        width: 100%;
        height: 38px;
        padding-left: 2.9rem;
        padding-top: 4.2rem;

        @media screen and (max-width: $breaktablet) {
            background-color: black;
        }

        @media screen and (max-width: $breakmobile) {
            background-color: yellow;
        }


        .header_contenedor {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

        }

        /*vamos a meter &*/
        /*vamos a pasar la eleccion de la fuente al body por ahora*/
        .header_contenedor-nav {

            ul {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                font-style: normal;
                font-weight: bold;
                margin-left: 13.5rem;
                margin-right: 43rem;
                width: 29rem;
                height: 1.9rem;
                color: #3D3D3D;
                gap: 2.5rem;
                text-justify: left;
                list-style: none;
            }
        }

        .header_contenedor-register {
            width: 18.1rem;
            height: 3.5rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            text-justify: center;
            padding: 8px 16px;
            gap: 1rem;

            .register_button-signin {
                cursor: pointer;
                width: 8.3rem;
                height: 3.5rem;
                color: $verde;
                background-color: $blanco;
                border: 2px solid $verde;
                border-radius: 5px;

                &:hover {
                    color: $blanco;
                    background-color: $verde;
                }
            }

            /*sintetizamos aca, vamos a usar los botones de otra forma*/
            .register_button-signup {
                cursor: pointer;
                width: 8.3rem;
                height: 3.5rem;
                color: $blanco;
                background-color: $verde;
                border: 2px solid $verde;
                border-radius: 5px;

                &:hover {
                    color: $verde;
                    background-color: $Rosa;
                }

            }

        }
    }
}